@charset "ISO-8859-1";
.header_find_flight{
	width: 100%;
    min-height: 100vh;
    padding: 0px 6%;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
}
.background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.searching{
	width: 100%;
	display: flex;
	justify-content: center;
}

.change1{
	width: 85%;
	height: 180px;
	margin: auto;
	position: absolute;
	top: 20%;
	border-radius: 8px; 
	background-color: white;
	box-shadow: 2px 2px 11px rgba(128, 128, 128, 0.25);
	padding: 2px 22px;
}


.container_form{
	width: 100%; 
	height: 150px;
	display: flex;
	align-items: center;
}

.input_form{
	width: 100%;
	padding: 16px; 
	border: 1px solid rgba(0, 0, 0, 0.192);
	font-size: 15px;
	font-weight: see; 
	color: rgba(0, 0, 0, 0.68); 
	border-radius: 5px;
}

.label{
	margin: 8px 3px; 
	font-weight: 600;
	font-size: 20px; 
	color: rgba(0, 0, 0, 0.68);
}

.input_btn_submit{ 
	width: 100%;
	padding: 12px 12px;
	background-color: #16db93!important;
	color: rgba(255, 255, 255, 0.95);
	transition: 0.25 ease-in;
	font-size: 22px; 
	font-weight: 600;
	border: none !important; 
	border-radius: 4px;
	margin-top: 28px;
}

.input_btn_submit:hover{ 
	background-color: rgb(17, 160, 146);
}

.content_flight_search{
    font-size: 62px!important;
    text-align: center!important;
    color: #fff;
    position: absolute;
    font-family: Georgia, 'Times New Roman', Times, serif!important;
    transform: translate(-50%, -50%)!important;
    left: 50%;
    top: 65%;
    line-height: 50%;
    /* max-width: 500px; */
}


.more_info{
    width: 40%;
	padding: 12px 12px;
	background-color: #16db93!important;
	color: rgba(255, 255, 255, 0.95);
	transition: 0.25 ease-in;
	font-size: 22px; 
	font-weight: 600;
	border: none !important; 
	border-radius: 8px;
    font-family: 'Times New Roman', serif;
}
#more_info a:active{
    border: #16db93!important;
    background-color: #fff;
    color: black;
}

